/* Color Scheme
#E4E8D7 - white
#BDC2BF - silver
#90A57A - green
#272B1D - darkgreen
#E5D197  - yellowish
*/


/* Global styles
-------------*/
body{
    font-family: 'Open Sans', sans-serif;
} 
h1,h2 {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
}
h1{ 
font-size: 80px;
}
h2 {
    font-size: 40px; 
}
a{
    color: #E5D197;
}
a:hover{
    color: whitesmoke;
}


/* Header and Footer
------------------*/
header, footer {
    background: #272B1D;
    color: #E4E8D7;
}
header h1, header h2 {
    color: #E5D197;
}


/* Work experience
------------------*/
.work {
    background:#E4E8D7;
}




/* Education
------------------*/
.education{
    background: #BDC2BF;
}